.aggregates-list {
    height: 400px;
    width: 1370px;
    overflow: auto;
    overflow-y: scroll;
}
.aggregate-table {
    display: table;
    border-collapse: collapse;
    margin-top: 3px;
}
.aggregate-table tr.check-ok td {
    background-color: #f5fff5;
}
.aggregate-table tr.check-ok-unfinished td {
    background-color: #ffffff;
}
.aggregate-table tr.recomputing td {
    background-color: #dedeee;
}
.aggregate-table tr td {
    background-color: #ffeeee;
}

.aggregate-table td {
    width: 97px;
    max-width: 97px;
    border: 1px solid lightblue;
    padding: 5px 8px;
}
.aggregate-table th {
    width: 97px;
    max-width: 97px;
    border: 1px solid lightblue;
    background-color: #eeeeee;
    padding: 5px 8px;
}
.aggregate-table tr td:nth-child(1) {
    width: 65px;
    max-width: 65px;
}
.aggregate-table tr th:nth-child(1) {
    width: 65px;
    max-width: 65px;
}
.aggregate-table tr td:nth-child(2) {
    width: 130px;
    max-width: 130px;
}
.aggregate-table tr th:nth-child(2) {
    width: 130px;
    max-width: 130px;
}
.aggregate-table tr td:nth-child(3) {
    width: 75px;
    max-width: 75px;
}
.aggregate-table tr th:nth-child(3) {
    width: 75px;
    max-width: 75px;
}
.aggregate-table tr td:nth-child(7) {
    width: 75px;
    max-width: 75px;
}
.aggregate-table tr th:nth-child(7) {
    width: 75px;
    max-width: 75px;
}
.aggregate-table tr td:nth-child(9) {
    width: 75px;
    max-width: 75px;
}
.aggregate-table tr th:nth-child(9) {
    width: 75px;
    max-width: 75px;
}
.aggregate-table tr td:nth-child(12) {
    text-align: center;
    width: 65px;
    max-width: 65px;
}
.aggregate-table tr th:nth-child(12) {
    width: 65px;
    max-width: 65px;
}

.aggregate-table tr td:nth-child(13) {
    width: 75px;
    max-width: 75px;
}
.aggregate-table tr th:nth-child(13) {
    width: 75px;
    max-width: 75px;
}

.aggregate-table td.numeric {
    text-align: right;
    font-size: 15px;
}
.aggregate-table td.aggregate-number {
    text-align: center;
}

.aggregate-table tr.summary td {
    background-color: #eeeeee;
    border-top: 2px solid gray;
}

.aggregate-table-footer {
    margin-top: 3px;
    position: relative;
    height: 40px;
}
.aggregate-table-footer > div {
    position: absolute;
    width: 100px;
    font-weight: bold;
}

.address-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.address-field-label {
    font-size: 1.2em;
}
.address-field-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.address-field-short-address {
    font-family: "Roboto Mono", monospace;
}
.timestamp-field {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    align-items: center;
}
.timestamp-field > div {
    padding: 6px 0px 3px 0px;
}
.block-field {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    align-items: center;
}
.block-field > div {
    padding: 3px 0px 3px 0px;
}
.balance-field {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    align-items: flex-end;
}
.balance-field > div {
    padding: 3px 0px 3px 0px;
}
.header-field {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    align-items: center;
}

.aggregates-summary-row {
    border: 1px solid lightblue;
    border-radius: 5px;
    width: 550px;
    padding: 0px 15px;
    margin: 15px 15px 15px 0px;
}
