.alias-table {
    display: table;
    border-collapse: collapse;
    margin-top: 3px;
}
.alias-table td {
    width: 279px;
    max-width: 279px;
    border: 1px solid lightblue;
    padding: 5px 5px;
    font-size: 16px;
}
.alias-table th {
    width: 279px;
    max-width: 279px;
    border: 1px solid lightblue;
    background-color: #eeeeee;
    padding: 5px 5px;
}

.alias-table tr td:nth-child(1) {
    width: 70px;
    max-width: 70px;
}
.alias-table tr th:nth-child(1) {
    width: 70px;
    max-width: 70px;
}

.alias-table tr td:nth-child(2) {
    width: 440px;
    max-width: 440px;
    font-family: "Roboto Mono", monospace;
}
.alias-table tr th:nth-child(2) {
    width: 440px;
    max-width: 440px;
}
.alias-table tr td:nth-child(3) {
    width: 200px;
    max-width: 200px;
}
.alias-table tr th:nth-child(3) {
    width: 200px;
    max-width: 200px;
}
.alias-table tr td:nth-child(4) {
    width: 100px;
    max-width: 100px;
}
.alias-table tr th:nth-child(4) {
    width: 100px;
    max-width: 100px;
}
.alias-table tr td:nth-child(5) {
    width: 140px;
    max-width: 140px;
}
.alias-table tr th:nth-child(5) {
    width: 140px;
    max-width: 140px;
}

.alias-table td.numeric {
    text-align: right;
}
.alias-table td.alias-number {
    text-align: center;
}

.alias-table tr.summary td {
    background-color: #eeeeee;
    padding: 5px 5px;
}

.alias-table-footer {
    margin-top: 3px;
    position: relative;
    height: 40px;
}
.alias-table-footer > div {
    position: absolute;
    width: 100px;
    font-weight: bold;
}
