.worker-card-box-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    flex-wrap: wrap;
}
.worker-card-box {
    width: 15em;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid gray;
}
.worker-card-box-header {
    display: flex;
    height: 3em;
    background-color: #eeeeee;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}
.worker-card-box-value {
    padding: 1em;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.css_gpu_1 {
    fill:#b7e897;
    fill-opacity:1;
    stroke:#000000;
    stroke-width:1.365;
    stroke-dasharray:none;
    stroke-opacity:1
}
